button{
    background: #2B2B2B;
    height: 50px;
    flex: 1;
    border: none;
    outline: none;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
}
@media screen and (max-width: 400px) {
    button{
        height: 35px;
    }
  }